<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Переводы</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Заголовок-->

<nav class="nav nav-underline">
    <a class="nav-link" href="/client/transfer/card">Карты</a>
    <a class="nav-link" href="/client/transfer/score">Счета</a>
    <a class="nav-link" href="/client/transfer/history">История операций</a>
</nav>

<!--Заголовок-->

<div class="container text-center mt-5">
    <h3 class="mb-2 mt-3">Подробная информация о операции</h3>
    <div th:each="el : ${infoOperation}" class="alert alert-info mt-2">
        <h3 th:text="'Операция перевода' " class="text-center"/><br>
        <p th:text="'Отправитель: ' + ${el.numberSender} "/>
        <p th:text="'Получатель: ' + ${el.numberRecipient} "/>
        <p th:text="'Сумма: ' + ${el.sum} + ' ' + ${el.currency} "/>
        <p th:text="'Статус операции: ' + ${el.status} "/>
        <a th:href="'/client/transfer/history/delete/'+ ${el.id} " class="btn btn-warning">Удалить</a>
    </div>
</div>


</html>