<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Переводы</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Заголовок-->

<nav class="nav nav-underline">
    <a class="nav-link" href="/client/transfer/card">Карты</a>
    <a class="nav-link" href="/client/transfer/score">Счета</a>
    <a class="nav-link" href="/client/transfer/history">История операций</a>
</nav>


<section class="py-3 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-3 col-md-4 mx-auto">
            <h1 class="font-weight-light">Открыть счет</h1>
            <a href="/client/transfer/score/create" class="btn btn-primary my-2">Открыть</a>
            </p>
        </div>
    </div>
</section>


<div class="container mt-3">
    <h3 class="mb-2 mt-3 text-center">Счета</h3>
    <div th:each="el : ${scoreList}" class="alert alert-info mt-2">
        <h3 th:text="'Номер счета: ' + ${el.id} + ' | баланс: ' + ${el.balance} + '  | валюта: ' + ${el.currency}"/>
        <a th:href="'/client/transfer/score/transferScoreToCard/' + ${el.id}" class="btn btn-primary my-2">Перевести на
            карту</a>
        <a th:href="'/client/transfer/score/transferScore/' + ${el.id}" class="btn btn-primary my-2">Перевести на
            счёт</a>
        <a th:href="'/client/transfer/score/delete/' + ${el.id}" class="btn btn-warning my-2">Удалить счёт</a>
    </div>
</div>


</html>