<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Переводы</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Заголовок-->


<body class="text-center ">
<div class="container mt-5">
    <h3 class="mb-3">Информация о счете</h3>
    <div th:each="al : ${infoScore} " class="alert alert-info mt-2">
        <h3 th:text="'Номер счета: ' + ${al.id}"/><br>
        <p th:text="'Баланс: ' + ${al.balance} "/>
        <p th:text="'Валюта: ' + ${al.currency} "/>
    </div>
    <br><br>
</div>


<div class="container mt-5 mb-5">
    <h1 class="mb-3">Заполните данные для перевода денежных средств на счёт</h1>
    <form th:each="al : ${infoScore}" method="post">
        <input type="number" name="idScore" placeholder="Введите номер счета" class="form-control"><br>
        <input type="number" name="sum" placeholder="Введите сумму перевода" class="form-control"><br>
        <button th:href="'/client/transfer/score/transferScore/' + ${al.id}" type="submit" class="btn btn-success">
            Перевести
        </button>
    </form>
</div>


</html>