<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявки клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Заявки клиента</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>

    <nav class="nav nav-underline">
        <a class="nav-link" href="/operator/application/">Заявки</a>
        <a class="nav-link" href="/operator/application/offer">Предложения</a>
    </nav>

</div>


<body class="text-center text-white bg-dark">
<div class="container mt-5">
    <h3 class="mb-3">Заявки</h3>
    <div th:each="el : ${app}" class="alert alert-info mt-2">
        <h3 th:text="${el.name} + ': ' + '| валюта: ' + ${el.currency} + ' | статус: ' + ${el.status} "/>
        <a th:href="'/operator/application/info/'+ ${el.id} " class="btn btn-warning">Детальнее</a>
    </div>
</div>

</body>


</html>