<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявки клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Кредит</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>

</div>


<body class="text-center text-white bg-dark">
<div class="container mt-5">
    <h3 class="mb-3">Информация о кредите</h3>
    <div th:each="al : ${infoCredit} " class="alert alert-info mt-2">
        <h3 th:text="'Название заявки: ' + ${al.name}"/><br>
        <p th:text="'Валюта: ' + ${al.currency} "/>
        <p th:text="'Статус: ' + ${al.status} "/>
    </div>
    <br><br>
</div>


<div class="container mt-5 mb-5">
    <h1 class="mb-3">Заполните данные для предоставления предложения</h1>
    <form th:each="al : ${infoCredit}" method="post">
        <input type="number" name="commission" placeholder="Введите процент комиссии" class="form-control"><br>
        <button th:href="'/operator/credit/' + ${al.id}" type="submit" class="btn btn-success">Изменить комиссию
        </button>
    </form>
</div>

</body>
</html>