<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Взять кредит</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>


<body>
<div class="container mt-5 mb-5">
    <h1 class="mb-3">Заполните данные для получения кредита</h1>
    <form th:each="el : ${cards.id}" method="post">
        <input type="text" name="name" placeholder="Введите название кредита" class="form-control"><br>
        <input type="number" name="sum" placeholder="Введите сумму кредита" class="form-control"><br>
        <input type="text" name="currency" placeholder="Введите валюту (RUB,EUR,USD)" class="form-control"><br>
        <button th:action="'/client/add/'+${el}" type="submit" class="btn btn-success">Отправить заявку</button>
    </form>
</div>

</body>

</html>