<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Личный кабинет</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<div class="container mt-5">
    <h3 class="mb-5 mt-5">Информация о карте</h3>
    <div th:each="el : ${infoCard}" class="alert alert-info mt-2">
        <h3 th:text="'Номер карты: ' + ${el.number}"/><br>
        <p th:text="'Баланс карты: ' + ${el.score} "/>
        <p th:text="'Лимит: ' + ${el.limit} "/>
        <p th:text="'Дата закрытия карты: ' + ${el.formatDate} "/>
        <p th:text="'Процент по кредиту: ' + ${el.percent} "/>
        <p th:text="'Статус карты: ' + ${el.statusCard} "/>
        <a th:href="'/client/add/' + ${el.id}" class="btn btn-success">Взять кредит</a>
    </div>
    <br>
    <h2>Кредиты карты</h2>
    <div th:each="credits : ${creditsCard}" class="block badge-info mb-3 mt-3">
        <h4 th:text="${credits.name} + ': ' + ' процент - ' + ${credits.percent} + '%' + ', сумма - ' + ${credits.sum}
        + ', ' + ${credits.currency} + ', пени - ' + ${credits.penaltiesPercent} + ',  дата погашения кредита - '
        + ${credits.formatDate} "/>
        <div class="text-center">
            <a th:href="'/client/repayment/'+${credits.id}" class="btn btn-warning">Погасить</a>
        </div>
    </div>
</div>
</html>