<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Вложения</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>
</div>

<!--Заголовок-->
<body class="h-100  text-white bg-dark">
<div class="container mt-3 ">
    <h3 class="mb-5 text-center mt-4">Информация о вложении</h3>
    <div th:each="el : ${infoDeposit}" class="alert alert-info mt-2">
        <form method="post">
            <label>Название вклада</label><br>
            <input type="text" th:value="${el.name}" name="name" placeholder="Введите название вложения"
                   class="form-control"><br>
            <label>Минимальная сумма вклада</label><br>
            <input type="number" th:value="${el.min}" name="min" placeholder="Введите минимальную сумму"
                   class="form-control"><br>
            <label>Максимальная сумма вклада</label><br>
            <input type="number" th:value="${el.max}" name="max" placeholder="Введите максимальную сумму"
                   class="form-control"><br>
            <label>Срок вложения</label><br>
            <input type="date" th:value="${el.duration}" name="duration" placeholder="Введите срок вложения "
                   class="form-control"><br>
            <label>Процент вложения</label><br>
            <input type="number" th:value="${el.percent}" name="percent" placeholder="Введите процент вклада "
                   class="form-control"><br>
            <input type="checkbox" name="investing" class="custom-checkbox"> <label
                class="font-weight-normal">&nbsp; "Возможность пополнения"</label><br>
            <input type="checkbox" name="closable" class="custom-checkbox"><label
                class="font-weight-normal">&nbsp; "Возможность досрочного закрытия вклада"</label><br>
            <input type="checkbox" name="capitalization" class="custom-checkbox"><label
                class="font-weight-normal">&nbsp; "Капитализация"</label><br>
            <input type="checkbox" name="possibilityTake" class="custom-checkbox">
            <label class="font-weight-normal">&nbsp; "Доступ к снятию"</label><br>
            <button th:href="'operator/deposit/info/'+${el.id}+'/edit'" type="submit" class="btn btn-success">Изменить
            </button>
        </form>
    </div>
</div>
</body>
</html>