<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Вложения</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>
</div>

<body class="h-100  text-white bg-dark">
<div class="container mt-3 ">
    <h3 class="mb-5 text-center mt-4">Редактирование вложения</h3>
    <div th:each="el : ${infoDeposit}" class="alert alert-info mt-2">
        <h3 th:text="'Название вложения: ' + ${el.name} "/><br>
        <p th:text="'Баланс: ' + ${el.balance} + 'RUS' "/>
        <p th:text="'Минимальная сумма вложения: ' + ${el.min} + 'RUS' "/>
        <p th:text="'Максимальная сумма вложения: ' + ${el.max} + 'RUS' "/>
        <p th:text="'Срок вложения: ' + ${el.formatDate} "/>
        <p th:text="'Процент вложения: ' + ${el.percent} + ' %' "/>
        <p th:text="'Возможность пополнения: ' + ${el.investing} "/>
        <p th:text="'Возможность досрочного закрытия: ' + ${el.closable} "/>
        <p th:text="'Капитализируемость: ' + ${el.capitalization} "/>
        <p th:text="'Возможность снимать денежные средства: ' + ${el.possibilityTake} "/>
        <a th:href="'/operator/deposit/info/'+ ${el.id} +'/edit'" class="btn btn-warning ">Изменить</a>
    </div>
</div>
</body>
</html>