<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Вложения</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>
</div>

<!--Заголовок-->

<body class="h-100 text-center text-white bg-dark">
<div class="container text-center mt-5">
    <h3 class="mb-2 mt-3">Вложения клиента</h3>
    <div th:each="el : ${listDeposits}" class="alert alert-info mt-2">
        <h3 th:text="'Название вложения <<' + ${el.name} + '>> : процентная ставка - ' + ${el.percent} +
        ' |||| дата окончания: ' + ${el.duration}"/>
        <a th:href="'/operator/deposit/info/' + ${el.id}" class="btn btn-success">Детальнее</a>
    </div>
</div>
</body>

</html>