<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Личный кабинет оператора</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>
</div>


<body class="h-100 text-center text-white bg-dark">
<div class="container text-center mt-5">
    <h3 class="mb-2 mt-3">История переводов</h3>
    <div th:each="el : ${listHistory}" class="alert alert-info mt-2">
        <h3 th:text="'Операция перевода' + ' : отправитель: ' + ${el.numberSender} +
        ' ---> получатель: ' + ${el.numberRecipient}"/>
        <a th:href="'/operator/transfer/info/'+ ${el.id} " class="btn btn-success">Детальнее</a>
    </div>
</div>
</body>

</html>