<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Личный кабинет</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<div class="container text-center mt-5">
    <h3 class="mb-5 mt-5">Карты</h3>
    <div th:each="el : ${listCards}" class="alert alert-info mt-2">
        <h3 th:text="${el.number} + ': счет ' + ${el.score} + ' | срок действия:' + ${el.formatDate}
        + ' | статус: ' + ${el.statusCard}"/>
        <a th:href="'/client/info/'+ ${el.id}" class="btn btn-success">Детальнее</a>
    </div>
</div>
</html>