<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет оператора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-left mb-0">Личный кабинет оператора</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="/operator/">Главная</a>
                <a class="nav-link" href="/operator/application/">Кредит</a>
                <a class="nav-link" href="/operator/transfer/">Переводы</a>
                <a class="nav-link" href="/operator/deposit/">Вложения</a>
            </nav>
        </div>
    </header>
</div>

<div class="container mt-5">
    <h3>Кредиты клиента</h3>
    <div th:each="el : ${credits}" class="alert alert-info mt-2">
        <h3 th:text="${el.name} + ': ' + ' номер карты ' + ${el.number} + ', сумма:' + ${el.sum}
        + ', валюта ' + ${el.currency} + ', комиссия:' + ${el.commission} + '%, пени:' + ${el.penaltiesPercent} +' %' "/>
        <a th:href="'/operator/credit/'+${el.id}" class="btn btn-warning">Изменить процент комисси</a>
        <a th:href="'/operator/credit/penalties/' + ${el.id}" class="btn btn-success">Изменить процент пени</a>
    </div>
</div>

</body>


</html>