<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Вложения</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Заголовок-->

<body>


<div class="container mt-3">
    <h3 class="mb-5 text-center mt-4">Информация о вложении</h3>
    <div th:each="el : ${infoDeposit}" class="alert alert-info mt-2">
        <h3 th:text="'Название вложения: ' + ${el.name} "/><br>
        <p th:text="'Баланс: ' + ${el.balance} + 'RUS' "/>
        <p th:text="'Минимальная сумма вложения: ' + ${el.min} + 'RUS' "/>
        <p th:text="'Максимальная сумма вложения: ' + ${el.max} + 'RUS' "/>
        <p th:text="'Срок вложения: ' + ${el.formatDate} "/>
        <p th:text="'Процент вложения: ' + ${el.percent} + ' %' "/>
        <p th:text="'Возможность пополнения: ' + ${el.investing} "/>
        <p th:text="'Возможность досрочного закрытия: ' + ${el.closable} "/>
        <p th:text="'Капитализируемость: ' + ${el.capitalization} "/>
        <p th:text="'Возможность снимать денежные средства: ' + ${el.possibilityTake} "/>
        <a th:href="'/client/deposit/info/' + ${el.id}" class="btn btn-success">Пополнить баланс</a>
        <!--        <a class="btn btn-success">Снять часть средств</a>-->
        <a th:href="'/client/deposit/info/close/' + ${el.id}" class="btn btn-warning ">Закрыть</a>
    </div>
</div>

</body>

<div class="container mt-3 mb-3">
    <h3 class="mb-3">Снять денежные средтсва</h3>
    <form th:each="al : ${infoDeposit}" method="post">
        <input type="number" name="sum" placeholder="Введите сумму, которую необходимо снять"
               class="form-control"><br>
        <button th:href="'/client/deposit/info/take/' + ${al.id}" type="submit" class="btn btn-success">Снять</button>
    </form>
</div>

</html>