<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Информация о заяке</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/">Кредиты</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Подшака-->


<!--Пречисление-->

<body>

<div class="container mt-5">
    <h1 class="mt-5 mb-5">Карточка заявки</h1>
    <div th:each="el : ${applicationId}" class=" mt-2">
        <h3 th:text="${el.name} + ' | валюта: ' + ${el.currency} + ' | статус: ' + ${el.status} "/>
        <a th:href="'/credit/application/'+ ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>

</body>

</html>