<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--Шапка-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Кредиты</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/client/">Личный кабинет</a>
        <a class="p-2 text-dark" href="/credit/application">Мои заяки</a>
        <a class="p-2 text-dark" href="/client/transfer/">Переводы</a>
        <a class="p-2 text-dark" href="/client/deposit/">Вложения</a>
    </nav>
</div>

<!--Заголовок-->

<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="font-weight-light">Подать заявку на открытие кредитной карты</h1>
            <a href="/credit/add" class="btn btn-primary my-2">Подать</a>
            </p>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div th:each="el : ${listCredit}" class="alert alert-info mt-2">
        <h3 th:text="${el.name} + ': ' + ' номер карты: ' + ${el.number} + ', сумма: ' + ${el.sum}
        + ' ' + ${el.currency} "/>
    </div>
</div>

</body>

</html>